<% if @malone_tuning_builder.graph_url %>
    <tr class="graph">
        <td><%= label :option, "Current Image" %></td>
        <td><%= image_tag(@malone_tuning_builder.graph_url, class: 'image_url', size: "150x150") %></td>
    </tr>
    <tr>
	<td><%= label_tag :option, "Use Default Graphic Instead" %></td>
	<td><%= check_box_tag "default_image" %></td>
    </tr>
<% else %>
    <tr class="graph">
        <td><%= label_tag :option, "Default Image" %></td>
        <td><%= image_tag(@option.image(:small), size: "150x150", class: 'image_url') %></td>
    </tr>
<% end %>
<tr>
    <td><%= label_tag "Change Image" %></td>
    <td><%= file_field :option, :image %></td>
</tr>
