<tr>
    <td>
	<%= "Add New Vehicle" %>
    </td>
    <td>
	<%= "Make" %><%= text_field_tag "add_vehicle[make]", nil , size: 10 %>
	<%= "Model" %><%= text_field_tag "add_vehicle[model]", nil , size: 10 %>
	<%= "Engine" %><%= text_field_tag "add_vehicle[engine]", nil , size: 10 %>
	<%= "Start Year" %><%= text_field_tag "add_vehicle[years[start]]", nil , size: 5 %>
	<%= "Finish Year" %><%= text_field_tag "add_vehicle[years[end]]", nil , size: 5 %>
    </td>
</tr>
