<tr>
    <td>
	<%= "Add Vehicle from List" %>
    </td>
    <td>
	<%= "Make" %>
	<%= collection_select("select_vehicle[make]", "id", Make.distinct(:make), "id", "make",  include_blank: true) %>
	<%= "Model" %>
        <%= grouped_collection_select("select_vehicle[model]", "id", Make.all, "models", "make", "id", "model", include_blank: true) %>
	<%= "Engine" %>
	<%= grouped_collection_select( "select_vehicle[engine]", "id", Model.all, "engines", "model", "id", "engine", include_blank: true) %>
	<%= "Years" %>
        <%= grouped_collection_select("select_vehicle[year]", "range", Engine.all, :years, :model_id, :engine_id, :range, include_blank: true) %>
	<input id="year_selected" name="select_vehicle[year][range]" type="hidden">
    </td>
</tr>
