<% stylesheet 'admin/malone_tunes/index' %>

<ul>
	<%= link_to "ADMIN PAGE", "/admin" %>
	<%= link_to "BACK", "/admin/malone_tunes" %>
</ul>

<h2>Edit Malone Tune</h2>


	<%= form_for [:admin, @malone_tune], html: {multipart: true} do |f| %>
	<table>
		<tbody>
			<tr class="graph">
				<td><%= f.label "Current Image" %></td>
				<td><%= image_tag(@malone_tune.image.url(:medium), class: 'image_url', size: "150x150") %></td>
			</tr>
			<% unless @malone_tune.image_file_name.nil? %>
			<tr>
				<td><%= f.label "Use Default Graphic Instead" %></td>
				<td><%= check_box_tag "default_image" %></td>
			</tr>
			<% end %>
			<tr>
				<td><%= f.label "Change Image" %></td>
				<td><%= f.file_field :image %></td>
			</tr>
			<% MaloneTune.columns.each do |c| %>
				<% next if /(at|id|folder|image)/.match c.name %>
				<tr>
					<td><%= f.label c.name %></td>
					<% size = @malone_tune.send(c.name).to_s.size %>
					<% if size < 40 %>
					<td><%= f.text_field c.name.to_sym, size: size %></td>
					<% else %>
					<td><%= f.text_area c.name.to_sym %></td>
					<% end %>
				</tr>
			<% end %>
			<tr>
				<td><%= f.submit "Submit" %></td>
			</tr>
		</tbody>
	</table>
	<% end %>
