<h1>Listing admin_malone_tunes</h1>

<ul class="menu">
  <li><%= button_to "ADMIN PAGE", admin_path, method: :get %></li>
  <li><%= button_to "MALONE TUNINGS", malone_tuning_index_path, method: :get %></li>
</ul>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @malone_tunes.each do |malone_tune| %>
      <tr>
        <td>Name: </td>
        <td><%= malone_tune.name %></td>
      </tr>
      <tr>
        <td>Engine: </td>
        <td><%= malone_tune.engine %></td>
      <
      <tr>
        <td>Description: </td>
        <td><%= malone_tune.description %></td>
      </tr>
      <tr>
        <td>
      <tr>
        <td><%= link_to 'Edit', edit_admin_malone_tune_path(malone_tune) %></td>
      </tr>
      <br></br>
    <% end %>
  </tbody>
</table>

