<% stylesheet 'admin/malone_tunes/index' %>
<% stylesheet 'admin/malone_tunes/edit' %>
<%= javascript_include_tag 'admin/new_malone_tune' %>

<ul>
    <%= link_to "ADMIN PAGE", "/admin" %>
    <%= link_to "BACK", "/admin/malone_tunes" %>
</ul>

<h2>Create Malone Tune</h2>

<%= form_for [:admin, @malone_tune], html: {multipart: true} do |f| %>
    <table>
	<tbody>
	    <%= render "malone_tuning" %>
	    <%= render "edit_image" %>
            <%= render "tuning_name" %>
	    <% MaloneTune.columns.each do |c| %>
		<% next if /(at|id|image|name)/.match c.name %>
		<tr>
		    <td><%= f.label c.name %></td>
		    <% if c.type == :text %>
			<td><%= f.text_area c.name, cols: "20", rows: "4", maxength: 50 %></td>
		    <% else %>
			<td><%= f.text_field c.name, size: 8 %></td>
		    <% end %>
		</tr>
	    <% end %>

	    <%= render "select_vehicle" %>
	    <%= render "add_new_vehicle" %>
	    <tr>
                <td></td>
		<td><%= f.submit "Submit" %></td>
	    </tr>
	    <!-- Requires and recommended graphics. -->
	    <% unless @malone_tuning.requires_urls.empty? && @malone_tuning.recommended_urls.empty? %>
		<tr>
		    <th>
			<%= image_tag("icon_requires.png") %>
		    </th>
		    <th>
			<%= image_tag("icon_recommended.png") %>
		    </th>
		</tr>
		<tr  class="require-recommend">
		    <td>
			<% @malone_tuning.requires_urls.each do |url| %>
			    <%= image_tag(url) %>
			<% end %>
		    </td>
		    <td>
			<% @malone_tuning.recommended_urls.each do |url| %>
			    <%= image_tag(url) %>
			<% end %>
		    </td>
		</tr>
	    <% end %>
	</tbody>
    </table>
<% end %>
<br><br><br><br>
