<% stylesheet 'admin/malone_tunes/index' %>
<% stylesheet 'admin/malone_tunes/edit' %>

<ul>
    <%= link_to "ADMIN PAGE", "/admin" %>
    <%= link_to "BACK", "/admin/malone_tunes" %>
</ul>

<h2>Update Malone Tune</h2>

<%= form_for [:admin, @malone_tune], html: {multipart: true} do |f| %>
    <table>
	<tbody>
	    <%= render "malone_tuning" %>
	    <%= render "edit_image" %>

	    <% MaloneTune.columns.each do |c| %>
		<% next if /(at|id|image)/.match c.name %>
		<tr>
		    <td><%= f.label c.name %></td>
		    <% if c.type == :text %>
			<td><%= f.text_area c.name, cols: "20", rows: "4" %></td>
		    <% else %>
			<td><%= f.text_field c.name, size: 50 %></td>
		    <% end %>
		</tr>
	    <% end %>

	    <%= render "add_vehicle_from_list" %>
	    <%= render "add_new_vehicle" %>
	    <tr>
		<td><%= f.submit "Submit" %></td>
	    </tr>
	    <!-- Requires and recommended graphics. -->
	    <% unless @malone_tuning.requires_urls.nil? %>
		<tr>
		    <th>
			<%= image_tag("http://www.malonetuning.com/sites/all/themes/malonetuning/images/icon_requires.png") %>
		    </th>
		    <th>
			<%= image_tag("http://www.malonetuning.com/sites/all/themes/malonetuning/images/icon_recommended.png") %>
		    </th>
		</tr>
		<tr  class="require-recommend">
		    <% if @malone_tuning.requires_urls %>
			<td>
			    <% @malone_tuning.requires_urls.each do |url| %>
				<%= image_tag(url) %>
			    <% end %>
			</td>
			<td>
			    <% @malone_tuning.recommended_urls.each do |url| %>
				<%= image_tag(url) %>
			    <% end %>
			</td>
		    <% end %>
		</tr>
	    <% end %>

	</tbody>
    </table>
<% end %>
<br><br><br><br>
