<tr>
    <td>
	<%= "Make Vehicle" %>
    </td>
    <td>
	<%= "Make" %><%= text_field_tag "build_vehicle[make]", nil , size: 10 %>
	<%= "Model" %><%= text_field_tag "build_vehicle[model]", nil , size: 10 %>
	<%= "Engine" %><%= text_field_tag "build_vehicle[engine]", nil , size: 10 %>
	<%= "First Year" %><%= text_field_tag "build_vehicle[year[first]]", nil , size: 5 %>
	<%= "Last Year" %><%= text_field_tag "build_vehicle[year[last]]", nil , size: 5 %>
    </td>
</tr>
