<h1>Admin Page</h1>
<div class="menu_bar">
    <ul>
	<li><%= link_to "MALONE TUNES", "/admin/malone_tunes" %></li>
	<li><%= link_to "PRODUCTS", "/admin/products" %></li>
	<li><%= link_to "Change Password", "admin/password_resets/new" %></li>
	<li><%= link_to "ABOUT" %></li>
	<li><%= link_to "Sign Out", "/admin/logout" %></li>
	<li><%= link_to "Get Malone Tunings", "/malone_tunings_vehicles" %></li>
	<li><%= link_to "FRESHBOOKS", "/admin/freshbooks" %></li>
    </ul>
</div>

