<h1>Admin Page</h1>
<div class="menu_bar">
	<ul>
		<li><%= link_to "HOME", "/" %></li>
		<li><%= link_to "MALONE TUNING", "/admin/malone_tunes" %></li>
		<li><%= link_to "PRODUCTS", "/admin/products" %></li>
		<li><%= link_to "Change Password", "/admin/pasword" %></li>
		<li><%= link_to "ABOUT" %></li>
		<li><%= link_to "Sign Out", "/admin/sign_out" %></li>
	</ul>
</div>