<h1>Password Reset</h1>
<ul>
	<%= button_to "ADMIN PAGE", "/admin", method: :get %>
</ul>
<%= form_tag(admin_password_resets_path, method: :post) do %>
	<%= label_tag :email %>
	<%= text_field_tag :email %>
	<%= submit_tag "Send Email" %>
<% end %>