<h1>Skunkwerx Admin Pages</h1>
<ul>
	<li><%= link_to "HOME", "/admin" %></li>
</ul>
<%= form_for [:admin, @product], html: { multipart: true } do |f| %>
	<div class="image_url">
		<%= f.label :image %>
		<%= f.file_field :image %>
		<%= f.submit 'Add Photo' %>
	</div>
<% end %>

<%= image_tag(@product.image.url(:medium), size: "150x150") %>
<%= button_to "Use Default Graphic", { controller: 'admin/products', action: 'update', params: { "product" => { "image" => nil }}}, method: :put %>
<p>
	name:&nbsp
	<%= @product.name %>
</p>
<p>
 	description:<br>
	<%= @product.description %>
</p>
<p>
	price:&nbsp
	$<%= @product.unit_cost %>
</p>
<p>
	quantity:&nbsp
	<%= @product.quantity %>
</p>
