<h1>Skunkwerx Admin Pages</h1>
<%= form_for [:admin, @product], html: { multipart: true } do |f| %>
	<div class="image_url">
		<%= f.label :image %>
		<%= f.file_field :image %>
		<%= f.submit 'Add Photo' %>
	</div>

<% end %>
	<p>
		name:&nbsp
		<%= @product.name %>
	</p>
	<p>
	 	description:<br>
		<%= @product.description %>
	</p>
	<p>
		price:&nbsp
		$<%= @product.unit_cost %>
	</p>
	<p>
		quantity:&nbsp
		<%= @product.quantity %>
	</p>