<tr class="border">
	<td class="image">
		<%= image_tag(item.image.url(:medium), class: 'image_url', size: "150x150") %>
	</td>
	<td class="description">
		<dl>
			<dt>
				<%= item.name %>
			</dt>
			<dt class="price">
				<%= sprintf("$%0.02f", item.unit_cost) %>
			</dt>
			<dd>
				<p><%= item.description %></p>
			</dd>
			<dd>
				<%= button_to 'Add to Cart', line_items_path(item_id: item.item_id), remote: true %>
			</dd>
		</dl>
	</td>
</tr>