<!DOCTYPE html>
<html>
<head>
  <title>Skunkwerx Admin Page</title>

  <%= stylesheet_link_tag media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <!-- loads controller specific scripts only on refresh -->
  <%#= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>


</head>
<body>
	<div class="main">
		<div class="notice">
	  <h4><%= flash[:notice] %></h4>
	    <h4><%= flash[:error] %></h4>
		</div>
		<!-- <div class="notice">
			<p>This site is currently under construction. Please call (502) 724-2605.</p>
			<p>Or email &nbsp;<%#= mail_to("dax@skunkwerx-performance.com") %></p>
		</div> -->

	   <%= yield %>

	</div>
</body>
</html>
