<!DOCTYPE html>
<html>
<head>
  <title>Skunkwerx</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <!-- Used for menu_bar buttons. -->
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Nunito' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false", "data-turbolnks-track" => true %>

  <!-- loads controller specific scripts only on refresh -->
  <%#= javascript_include_tag params[:controller] %>
  <!-- Used for logo in graphics composition. -->
	<!--  <link href='http://fonts.googleapis.com/css?family=Stalinist+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'> -->
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="main">
		<div class="banner">
			<%= image_tag("skunkwerx_header_2-20-14-10.jpg") %>
		</div>

		<div class="menu_bar">
			<ul>
				<li><%= link_to "HOME", "/" %></li>
				<li><%= link_to "SERVICES", "/page_under_construction" %></li>
				<li><%= link_to "MALONE TUNING", "/malone_tunes/index" %></li>
				<li><%= link_to "PRODUCTS", "/page_under_construction" %></li>
				<!-- <li><%#= link_to "CHECKOUT" %></li> -->
				<li><%= link_to "CONTACT", "/contact" %></li>
				<li><%= link_to "ABOUT", "/page_under_construction" %></li>
			</ul>
		</div>
		<!-- <div class="notice">
			<p>This site is currently under construction. Please call (502) 724-2605.</p>
			<p>Or email &nbsp;<%#= mail_to("dax@skunkwerx-performance.com") %></p>
		</div> -->

		<div class="side">
			<% if current_cart %>
					<%= render partial: "/carts/mini_cart", formats: [:html], object: current_cart, as: :cart %>
			<% end %>
		</div>

		<%= yield %>

		# Produces xml properly formatted br tags.
		<% 4.times do %>
			<%= tag("br") %>
		<% end %>
	</div>
</body>
</html>
